{% extends 'PTuristicTestBundle::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Hello! Welcome to Symfony2 test. <small>Click <a href="{{ path('p_turistic_test_form') }}">this link</a>, please.</small></h1>
        </div>
    </div>

{% endblock %}
