{% extends 'PTuristicTestBundle::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Thank you! You message is successfully sended. <small>Now you can go to the <a href="{{ path('p_turistic_test_homepage') }}">main page</a>.</small></h1>
    </div>
</div>

{% endblock %}
